.p_wrapper {
    padding: 0px;
    margin-top: 150px;

    box-shadow: 0px 15px 10px 0px rgb(82, 79, 79);
}

.p_container {
    padding: 0;
}


.pc {
    margin: 50px 100px;
    display: flex;
    flex-wrap: wrap;
}






.profile_name {
    flex: 1;
}
.profile_name div {
    margin-top: 22px;
}
.profile_name div:nth-child(1) {
    font-size: 22px;
}
.profile_name div:nth-child(2) {
    font-size: 55px;
    font-weight: bold;
    color: rgb(49, 27, 70);
}
.profile_name div:nth-child(3) {
    font-size: 25px;
}
.profile_name div:nth-child(4) {
    font-size: 40px;
    font-weight: bold;
    color: rgb(88, 73, 73);
}













.profile_pic {
    flex: 1;

}
.pic {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 39, 77);

    animation: shdow 2s linear .5s forwards;
}
@keyframes shdow {
    0% {
        box-shadow: 0px 0px 50px 1820px rgb(0, 0, 0);
    }
    70% {
        box-shadow: 0px 0px 50px 1820px rgb(245, 238, 238);
    }
    100% {
        box-shadow: 0px 0px 50px 5px rgb(66, 48, 48);
    }
}

.pic img {
    border-radius: 100%;
    width: 93%;
    height: 93%;
    object-fit: cover;
}









@media screen and (max-width: 992px) {

    .p_wrapper {
        margin-top: 80px;
    }


    .pc {
        margin: 0px 50px;
        justify-content: center;
        align-items: center;
    }



    .profile_name div:nth-child(1) {
        font-size: 20px;
    }

    .profile_name div:nth-child(2) {
        font-size: 30px;
    }

    .profile_name div:nth-child(3) {
        font-size: 20px;
    }

    .profile_name div:nth-child(4) {
        font-size: 25px;
    }











    .pic {
        width: 230px;
        height: 230px;
    }
}




@media screen and (max-width: 768px) {

    .p_wrapper {
        margin-top: 30px;
    }


    .pc {
        margin: 0px 20px !important;
        flex-direction: column;
    }




    .profile_pic {
        margin-top: 50px;
    }


}











@media screen and (max-width: 568px) {


    /* .profile_name div:nth-child(1) {
        font-size: 15px;
    }

    .profile_name div:nth-child(2) {
        font-size: 25px;
    }

    .profile_name div:nth-child(3) {
        font-size: 16px;
    }

    .profile_name div:nth-child(4) {
        font-size: 20px;
    } */





    .pic {
        width: 180px;
        height: 180px;
    }
}